<a href="https://colab.research.google.com/github/CoderJuan21/Project-134/blob/main/Project_134_Real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 
uploaded = files.upload()

Saving Project-133.csv to Project-133.csv

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
df = pd.read_csv("Project-133.csv")
df.head()

   Unnamed: 0       Star_name    Distance  Mass  Radius     Gravity
0           0             Sun    0.000016   1.0    1.00  274.269161
1           1          Sirius    8.600000   2.1    1.71  196.971800
2           2         Canopus  310.000000  15.0   71.00    0.816115
3           3  Alpha Centauri    4.400000   1.1    1.20  209.511165
4           4        Arcturus   37.000000   1.1   26.00    0.446296

In [5]:
stars = []
for a in df.Distance:
  if a <= 100:
    stars.append(True)
  else:
    stars.append(False)
is_distance = pd.Series(stars)
is_distance.head()

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [8]:
star_distance = df[is_distance]
star_distance.reset_index(inplace = True, drop = True)
star_distance.head(159)

     Unnamed: 0               Star_name  ...     Radius       Gravity
0             0                     Sun  ...   1.000000  2.742692e+02
1             1                  Sirius  ...   1.710000  1.969718e+02
2             3          Alpha Centauri  ...   1.200000  2.095112e+02
3             4                Arcturus  ...  26.000000  4.462960e-01
4             5                    Vega  ...   2.700000  8.276984e+01
..          ...                     ...  ...        ...           ...
154         248  2MASSI J2356547-155310  ...   0.112012  1.669385e+03
155         249          WISE 0410+1502  ...   0.120233  1.086673e+02
156         250         WISE 0458+6434A  ...   0.431605  2.108201e+01
157         251         WISE 0458+6434B  ...   0.390499  1.716928e+01
158         252          WISE 1405+5534  ...   0.088376  2.447107e-10

[159 rows x 6 columns]

In [7]:
star_distance.shape

(159, 6)

In [9]:
gravity = []
for g in star_distance.Gravity:
  if g <= 350 and g >= 150:
    gravity.append(True)
  else:
    gravity.append(False)
is_gravity = pd.Series(gravity)
final_stars = star_distance[is_gravity]
final_stars.head()

    Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0            0             Sun   0.000016   1.0    1.00  274.269161
1            1          Sirius   8.600000   2.1    1.71  196.971800
2            3  Alpha Centauri   4.400000   1.1    1.20  209.511165
7           12          Altair  17.000000   1.8    1.80  152.371756
10          18       Fomalhaut  25.000000   1.9    1.80  160.836854

In [10]:
final_stars.shape

(21, 6)

In [12]:
final_stars.to_csv("filterd_stars.csv")